
#header ul li a {
    display: inline-block;;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    padding: 10px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .href-padding {
        padding-top: 66px;
    }

    #header {
        background-color: #141F34;
        position:fixed;
        top:0;
        width:100%;
        z-index:100;
        text-align: center;
    }

    #header ul {
        list-style-type: none;
        display: inline-block;
        margin: 0px 0;
    }

    #header ul li {
        display: inline-block;
    }

    #header ul li a:hover {
        color: #FF0042;
    }

    .menu {
        display: none;
    }

    #menu-register {
        color: black;
    }
}

@media (max-width: 767px) {
    .href-padding {
        padding-top: 48px;
    }
    #header {
        background-color: #141F34;
        position:fixed;
        top:0;
        width:100%;
        z-index:100;
        text-align: center;
    }

    #header ul {
        list-style-type: none;
        display: none;
        margin: 0px 0;
    }

    #title {
        font-size: 65%;
        margin-top: 15%;
    }

    .menu {
        display: block;
        margin-left: 5px;
    }

    #header ul li a:active {
        color: #FF0042;
    }

    #menu-register {
        color: white;
    }
}


.buffer-top {
    margin-top: 5%;
}

.buffer-right {
    margin-right: 8%;
}

.buffer-left {
    margin-right: 8%;
}


.button-register{
    color: white;
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.faq-questions .title {
    font-size: 1.6em;
    color: #E91753;
}
.faq-questions .answer {
    font-size: 1.4em;
    line-height: 1.7em;
    font-weight: normal;
}
.faq-questions .question {
    margin-bottom: 5vh;
}

.hardware-listings .title {
    font-size: 1.6em;
    margin-bottom: 24px;
    padding-top: 20px;
    line-height: 1;
    font-size: 1.5em;
    color: #FF9800;
    font-family: minecraftia;
}
.hardware-listings .info {
    font-size: 1.4em;
    line-height: 1.7em;
    font-weight: normal;
}
.hardware-listings .listing {
    margin-bottom: 5vh;
}




.sponsor-images {
    text-align: center;
}
.sponsor-images .peta {
    margin-bottom: 10vh;
}


.sponsor-images img {
    transition: transform .2s; /* Animation */
}

.sponsor-images img:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.sponsor-images .peta img {
    width: 63%;
}
.sponsor-images .giga {
    margin-bottom: 10vh;
}
.sponsor-images .giga img {
    width: 50%;
}
.sponsor-images .mega {
    margin-bottom: 8vh;
}
.sponsor-images .mega img {
    width: 38%;
}
.sponsor-images .kilo {
    margin-bottom: 2vh;
}
.sponsor-images .kilo img{
    width: 22%;
}

.sponsor-images .kilo svg{
    width: 25%;
}

.sponsor-images .mili img {
    /*margin-top: 13px;*/
    width: 16%;
}
.sponsor-images .micro img {
    width: 11%;
}
.sponsor-images .mergin-bottom img {
    margin-bottom: 25px;
}
.sponsor-images img.mr {
    margin-right: 25px;
}
.sponsor-images img.ml {
    margin-left: 25px;
}
.sponsor-images img.mt {
    margin-left: 25px;
}

.sponsor-images img.mega-portrait {
    width: 15%;
}
.sponsor-images img.giga-portrait {
    width: 18%;
}
.sponsor-images .separator {
    height: 5vh;
}

.partners {
    text-align: center;
    margin-bottom: 10vh;
}
.partners img {
    width: 23%;
    margin: 0px 20px;
}
.partners .separator {
    height: 5vh;
}

#promo-video {
    max-width: 700px;
    width: 100%;
    height: 400px;
}


.mlh-localhost-svg-animated {
    -webkit-transition: fill 0.2s ease-out;
    -moz-transition: fill 0.2s ease-out;
    -o-transition: fill 0.2s ease-out;
    -ms-transition: fill 0.2s ease-out;
    transition: fill 0.2s ease-out;
}


.mlh-localhost-svg-animated:hover{
    fill: #265A8F;

}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}